body {
  font-size: 16px;
  background-color: white;
}

/** HEADER **/
#header-nav {
  background-color: grey;
  border-radius: 0;
  border-bottom: 1px solid;
}



.navbar-brand {
  padding-top: 0px;
}

.navbar-brand h1 {
  font-family: 'Lora', serif;
  color: black;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 2;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
